
 <div class="container">
       <div class="row">
           <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
               <div class="card card-signin my-5">

                   <div class="card-body">

                       <br /><br />
                       <h5 class="card-title text-center">Kontakt B2B Backbone</h5>
                       <p>
                       B2B BackBone Aps <br />
                       Mejlstedgade 1. 2 th <br />
                       9700 Brønderslev <br />
                       Tlf: +45 96 46 10 01 <br />
                       E-mail: info@b2bbackbone.com <br />
                       CVR: 31 37 15 89 <br />
                       </p>
                         <a href="http://b2bbackbone.com/">www.b2bbackbone.dk</a>

                   </div>
               </div>
           </div>
       </div>
   </div>
